<ion-header>
  <ion-toolbar>
    <ion-title ><ion-text color="primary">Pagamento</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Digite seu nome:</ion-label>
            <ion-input></ion-input>
          </ion-item>
        <ion-item>
              <ion-label>Digite número do cartão:</ion-label>
              <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Digite a data de validade:</ion-label>
            <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Código de segurança:</ion-label>
          <ion-input></ion-input>
    </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button routerLink="/profissional" color="danger" expand="block">
            Voltar
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/concluido" expand="block">
            Pagar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
