<ion-header>
  <ion-toolbar>
    <ion-title ><ion-text color="primary">Agendamento Realizado</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-text text-center padding color="secondary">
        <h1>Agendamento realizado com sucesso</h1>
      </ion-text>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button routerLink="/login" expand="block">
            Finalizar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>