<ion-header>
    <ion-toolbar>
      <ion-title ><ion-text color="primary">Escolher a data</ion-text></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
          <ion-item>
              <ion-label>Digite o dia:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          <ion-item>
                <ion-label>Digite o mês:</ion-label>
                <ion-input></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Digite o horário:</ion-label>
              <ion-input></ion-input>
        </ion-item>
      </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button routerLink="/profissional" color="danger" expand="block">
              Voltar
            </ion-button>
          </ion-col>
  
          <ion-col size="6">
            <ion-button routerLink="/pagamento" expand="block">
              Próximo
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  
