<ion-content class="ion-padding">
  <h1 class="ion-text-center"><ion-text color="primary">Sistema de Agendamento</ion-text>
    <ion-icon name="calendar" color="primary" class="icon-7em"></ion-icon>
  </h1> 

  <ion-button expand="block" (click)="onSubmit(authProviders.Facebook)">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Login com Facebook
  </ion-button>



</ion-content>
