<ion-header>
  <ion-toolbar>
    <ion-title ><ion-text color="primary">Seja Bem Vindo</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-label>Digite seu nome:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      <ion-item>
            <ion-label>Digite seu telefone:</ion-label>
            <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Digite seu endereço:</ion-label>
          <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button routerLink="/login" color="danger" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/servico" expand="block">
            Próximo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>