<ion-header>
  <ion-toolbar>
    <ion-title ><ion-text color="primary">Escolha o serviço</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row *ngFor="let item of data; index as i">
        <ion-button routerLink="/profissional" expand="block">
          {{ item.name }}
        </ion-button>
    </ion-row>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button routerLink="/home" color="danger" expand="block">
            Voltar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
